img{
    height: 600px;
}
label{
    color: forestgreen;
}
.box{
    padding-left: 20px;
    padding-right: 20px;
    padding-bottom: 10px;
    position: absolute;
    top: 20%;
    right: 30%;
    background-color: palegreen;
    color: white;
}
.box h2{
    text-align: center;
    color: forestgreen;
}
.box h3{
    color: red;
}
.button{
    border:none;
	padding:10px 170px;
	border-radius:25px;
	background:seagreen;
    color: white;
    font:600 16px/18px 'Open Sans',sans-serif; 
}
.input{
    border:none;
	padding:10px 120px;
	border-radius:25px;
	background:white;
    color: deepskyblue;
}
a{
    text-decoration: none;
    color: forestgreen;
    font:600 16px/18px 'Open Sans',sans-serif;
}