img{
    height: 600px;
}
label{
    color: forestgreen;
}
.box{
    position: absolute;
    padding: 20px;
      top: 20%;
      right: 30%;
      background-color: palegreen;
      color: white;
}
.box h2{
    text-align: center;
    color: forestgreen;
}
.Inputbox {
background: rgba(211,211,211,.05);
}
.hr{
	height:1px;
	margin:60px 0 50px 0;
	background:rgba(255,255,255,.2);
    background:seagreen;
}
.foot-lnk{
	text-align:center;
}
.button{
    border:none;
	padding:10px 170px;
	border-radius:25px;
	background:seagreen;
    color: white;
    font:600 16px/18px 'Open Sans',sans-serif;
    
}
.input{
    border:none;
	padding:10px 120px;
	border-radius:25px;
	background:white;
    color: deepskyblue;
}
a{
    text-decoration: none;
    color: forestgreen;
    font:600 16px/18px 'Open Sans',sans-serif;
}