img {
    height: 800px;
}

label {
    color: forestgreen;
}
h3{
    color: forestgreen;
}

.box {
    position: absolute;
    padding: 20px;
    top: 20%;
    right: 40%;
    background-color: palegreen;
    color: white;
}

.box h2 {
    text-align: center;
    color: forestgreen;
}

.box1 {
    position: absolute;
    padding: 20px;
    top: 30%;
    right: 10px;
    background-color: palegreen;
    color: white;
}

.box1 h2 {
    text-align: center;
    color: forestgreen;
}

.hr {
    height: 1px;
    margin: 60px 0 50px 0;
    background: rgba(255, 255, 255, .2);
    background: seagreen;
}

.foot-lnk {
    text-align: center;
}

.numberOfItems {
    border: none;
    border-radius: 25px;
    color: deepskyblue;
    padding: 10px 10px;
}

.button {
    border: none;
    padding: 10px 170px;
    border-radius: 25px;
    background: seagreen;
    color: white;
    font: 600 16px/18px 'Open Sans', sans-serif;

}

.input {
    border: none;
    padding: 10px 120px;
    border-radius: 25px;
    background: white;
    color: deepskyblue;
}

a {
    text-decoration: none;
    color: forestgreen;
    font: 600 16px/18px 'Open Sans', sans-serif;
}
